html, body {
    overflow-x: hidden;
}

body {
    position: relative;
}


body {
    background: #161616;
    color: white;
    font-family: "Roboto";
    font-size: 16px;
    width: 100%;
    margin: 0 auto;
}

.header {
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}

#search {

    margin: 0 25px;
    text-align: center;
    border-radius: 4px;
    border: 0;
    background: #2c2c2c;
    padding: 20px;
    font-family: inherit;
    color: white;
}


.list {
    margin-left: 30px;
    margin-right: 30px;
    width: auto;
    justify-items: center;
    display: grid;   
    grid-template-columns: 1fr;
    gap: 13px 0px;
    transition: 2s;
}


.item {
    width: 100%;
    padding: 15px;

    text-align: center;
    align-items: center;

    background: #2c2c2c;
    display: inline-grid;
    grid-gap: 2%;
    grid-template-columns: 1.2fr 5fr auto;
    grid-template-rows: auto auto;
    border-radius: 10px;

}


.percent {
    font-weight: 200;
    text-align: start;
}

.name {
    font-size: 15px;
    font-weight: 400;
    align-self: center;
    text-align: start;
}

.price-wrapper {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: end;
    justify-items: center;
    width: 150px;
    gap: 0 5px;
}

.price {
    width: 100%;
    border-radius: 4px;
    justify-self: end;
    
    background: #E0BD64;
    padding: 5px 0px;
}

.internal {
    background: #E0BD64;
}
.member {
    background: #e0bd6474;

}
.external {
    background: #E0BD641A;
}

.not_in_stock {
    opacity: 30%;
}

.hide {
    visibility: none;
}


#random-deposit {
    margin-bottom: 40px;
}
#random {
    margin: 0 20px;
    margin-bottom: 40px;
    padding: 20px;
    color: white;
    background: #2c2c2c;
    border-radius: 4px;
    border: 0;

}


span.material-icons {
    vertical-align: middle;
}
.extendable {
    background: #262626;
    border-radius: 4px;
    margin-top: 10px;
    width: 100%;
    display: grid;
    grid-column: 1 / 4;
}

.alcohol_content {
    display: grid;
    padding: 3px;
    grid-template-columns: 5fr 1.5fr 1.5fr;
    align-items: center;
    font-size: 14px;
}
.alcohol_content > .name {
    margin-left: 4px;
}

.thin {
    font-weight: 200;
}
